*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: light;
    src: url(../Fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: medium;
    src: url(../Fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: bold;
    src: url(../Fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(../Fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: semibold;
    src: url(../Fonts/Montserrat-SemiBold.ttf);
}

nav{
    background-color: #0b133c;
    a{
        font-family: semibold;
        text-transform: uppercase;
        font-size: 16px;
    }
}

.banner{
    height: 600px;
    width: 100%;
    img{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
}

.medical-treatments{
    padding: 40px 0px;
    h2{
        font-family: semibold;
        font-size: 26px;
        text-transform: uppercase;
    }
    h3{
        font-family: medium;
        font-size: 24px;
    }
    p{
        font-family: light;
        font-size: 18px;
    }
    img{
        width: 64px;
        height: 64px;
        padding-bottom: 1064;
    }
}

.welcome{
    min-height: 500px;
    background: url(../Images/welcome_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .col-lg-6{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 500px;
        h2{
            font-size: 26px;
            text-transform: uppercase;
            font-family: medium;
        }
        p{
            font-size: 18px;
            font-family: light;
        }
        button{
            background-color: #0ebbde;
            padding: 5px 10px;
            width: fit-content;
            border: none;
            a{
                color: #fff;
                font-family: medium;
                text-decoration: none;
            }
        }
    }
}

.testimonials{
    padding: 40px 0px;
    h2{
        font-size: 24px;
        font-family: medium;
        text-transform: uppercase;
        text-align: center;
    }
    h3{
        font-size: 22px;
        font-family: bold;
        color: #e1e7f3;
    }
    .carousel-control-next, 
    .carousel-control-prev {
        position: absolute;
        bottom: -50px;
        top: auto;
        z-index: 1;
        width: 15%;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    }
    .carousel-control-prev {
        right: 0%;
    }
    .carousel-control-next {
        left:3%;
        @media (max-width:1053px) {
            left:8%;
        }
    }
}