* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: light;
    src: url(../Fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: EB;
    src: url(../Fonts/EBGaramond-Regular.ttf);
}

@font-face {
    font-family: Playfair;
    src: url(../Fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: medium;
    src: url(../Fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: bold;
    src: url(../Fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(../Fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: semibold;
    src: url(../Fonts/Montserrat-SemiBold.ttf);
}



nav {
    background-color: #0b133c;
    a {
        font-family: semibold;
        text-transform: uppercase;
        font-size: 16px;
    }
}

.banner {
    height: 600px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(../Images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    .content-wrap{
        width: 60%;
        padding: 0px 20px;
        @media (max-width:774px) {
            width: 100%;
            padding: 0px 10px;
        }
        h1{
            font-family: Playfair;
            color: #ffffff;
            font-weight: 800;
            font-size: 42px;
            @media (max-width:774px) {
                font-size: 38px;
            }
        }
        h2{
            font-family: Arial, Helvetica, sans-serif;
            color: #0ebbde;
            font-size: 30px;
            @media (max-width:774px) {
                font-size: 26px;
            }
        }
        p{
            font-family: EB;
            color: #ffff;
        }
        h3{
            font-family: EB;
            color: #ffff;
            font-size: 26px;
            @media (max-width:774px) {
                font-size: 22px;
            }
        }
        button{
            background-color: #0ebbde;
            padding: 5px 15px;
            border: none;
            a{
                color: #ffff;
                text-decoration: none;
                text-transform: uppercase;
                font-family: EB;
            }
        }
    }
    
}

.medical-treatments {
    padding: 40px 0px;
    overflow: hidden;

    h2 {
        font-family: semibold;
        font-size: 26px;
        text-transform: uppercase;
    }

    h3 {
        font-family: medium;
        font-size: 24px;
    }

    p {
        font-family: light;
        font-size: 16px;
    }

    img {
        width: 64px;
        height: 64px;
        padding-bottom: 1064;
    }
    button{
        background-color: #0ebbde;
        padding: 5px 15px;
        border: none;
        a{
            font-family: medium;
            color: #ffff;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.welcome {
    min-height: 500px;
    background: url(../Images/welcome_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .col-lg-6 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 500px;

        h2 {
            font-size: 28px;
            text-transform: uppercase;
            font-family: medium;
        }

        p {
            font-size: 16px;
            font-family: light;
        }

        button {
            background-color: #0ebbde;
            padding: 5px 10px;
            width: fit-content;
            border: none;

            a {
                color: #fff;
                font-family: medium;
                text-decoration: none;
            }
        }
    }
}

.testimonials {
    padding: 60px 0px;
    overflow: hidden;

    h2 {
        font-size: 24px;
        font-family: medium;
        text-transform: uppercase;
        text-align: center;
    }

    h3 {
        font-size: 22px;
        font-family: bold;
        color: grey;
    }
    h4{
        font-family: bold;
        font-size: 16px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        bottom: -50px;
        top: auto;
        z-index: 1;
        width: 15%;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    }

    .carousel-control-prev {
        left: 40%;
    }

    .carousel-control-next {
        left: 43%;

        @media (max-width:1053px) {
            left: 50%;
        }
    }
}

.proven-results {
    background-color: #f7f7f7;
    margin-top: 50px;
    padding: 40px 0px;
    overflow: hidden;

    h2 {
        padding: 20px 0px;
        font-size: 24px;
        font-family: medium;
        text-transform: uppercase;
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 3/3;
    }

    button {
        background-color: #0ebbde;
        padding: 5px 14px;
        border: none;

        a {
            text-decoration: none;
            font-family: semibold;
            color: #ffff;
            text-transform: uppercase;
        }
    }
}

.contact {
    padding: 40px 0px;
    overflow: hidden;
    background: url(../Images/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        font-size: 26px;
        font-family: medium;
        text-transform: uppercase;
    }

    h6 {
        font-size: 18px;
        font-family: medium;
        text-transform: capitalize;
    }

    p {
        font-size: 16px;
        font-family: light;
    }

    input {
        padding: 8px;
    }

    select {
        padding: 8px;
        border: 1px solid black;
        font-family: medium;
    }

    button {
        background-color: #0ebbde;
        padding: 5px 10px;
        border: none;
        font-family: semibold;
        color: #fff;
    }
}

footer {
    background-color: #0b133c;
    padding: 40px 0px;
    h6{
        color: #fff;
        font-family: EB;
        font-size: 18px;
    }
    li{
        list-style: none;
        color: #fff;
        font-family: Playfair;
        a{
            color: #fff;
            text-decoration: none;
        }
    }
    h5{
        font-size: 22px;
        font-family: light;
        color: #fff;
    }

    .icon {
        padding-right: 10px;
    }

    hr {
        color: #fff;
        border: 1px solid #fff;
    }
}