* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: light;
  src: url(../Fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: EB;
  src: url(../Fonts/EBGaramond-Regular.ttf);
}
@font-face {
  font-family: Playfair;
  src: url(../Fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: medium;
  src: url(../Fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: bold;
  src: url(../Fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: regular;
  src: url(../Fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: semibold;
  src: url(../Fonts/Montserrat-SemiBold.ttf);
}
nav {
  background-color: #0b133c;
}
nav a {
  font-family: semibold;
  text-transform: uppercase;
  font-size: 16px;
}

.banner {
  height: 600px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../Images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.banner .content-wrap {
  width: 60%;
  padding: 0px 20px;
}
@media (max-width: 774px) {
  .banner .content-wrap {
    width: 100%;
    padding: 0px 10px;
  }
}
.banner .content-wrap h1 {
  font-family: Playfair;
  color: #ffffff;
  font-weight: 800;
  font-size: 42px;
}
@media (max-width: 774px) {
  .banner .content-wrap h1 {
    font-size: 38px;
  }
}
.banner .content-wrap h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #0ebbde;
  font-size: 30px;
}
@media (max-width: 774px) {
  .banner .content-wrap h2 {
    font-size: 26px;
  }
}
.banner .content-wrap p {
  font-family: EB;
  color: white;
}
.banner .content-wrap h3 {
  font-family: EB;
  color: white;
  font-size: 26px;
}
@media (max-width: 774px) {
  .banner .content-wrap h3 {
    font-size: 22px;
  }
}
.banner .content-wrap button {
  background-color: #0ebbde;
  padding: 5px 15px;
  border: none;
}
.banner .content-wrap button a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: EB;
}

.medical-treatments {
  padding: 40px 0px;
  overflow: hidden;
}
.medical-treatments h2 {
  font-family: semibold;
  font-size: 26px;
  text-transform: uppercase;
}
.medical-treatments h3 {
  font-family: medium;
  font-size: 24px;
}
.medical-treatments p {
  font-family: light;
  font-size: 16px;
}
.medical-treatments img {
  width: 64px;
  height: 64px;
  padding-bottom: 1064;
}
.medical-treatments button {
  background-color: #0ebbde;
  padding: 5px 15px;
  border: none;
}
.medical-treatments button a {
  font-family: medium;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.welcome {
  min-height: 500px;
  background: url(../Images/welcome_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.welcome .col-lg-6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
}
.welcome .col-lg-6 h2 {
  font-size: 28px;
  text-transform: uppercase;
  font-family: medium;
}
.welcome .col-lg-6 p {
  font-size: 16px;
  font-family: light;
}
.welcome .col-lg-6 button {
  background-color: #0ebbde;
  padding: 5px 10px;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
}
.welcome .col-lg-6 button a {
  color: #fff;
  font-family: medium;
  text-decoration: none;
}

.testimonials {
  padding: 60px 0px;
  overflow: hidden;
}
.testimonials h2 {
  font-size: 24px;
  font-family: medium;
  text-transform: uppercase;
  text-align: center;
}
.testimonials h3 {
  font-size: 22px;
  font-family: bold;
  color: grey;
}
.testimonials .carousel-control-next,
.testimonials .carousel-control-prev {
  position: absolute;
  bottom: -50px;
  top: auto;
  z-index: 1;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.testimonials .carousel-control-prev {
  left: 40%;
}
.testimonials .carousel-control-next {
  left: 43%;
}
@media (max-width: 1053px) {
  .testimonials .carousel-control-next {
    left: 50%;
  }
}

.proven-results {
  background-color: #f7f7f7;
  margin-top: 50px;
  padding: 40px 0px;
  overflow: hidden;
}
.proven-results h2 {
  padding: 20px 0px;
  font-size: 24px;
  font-family: medium;
  text-transform: uppercase;
  text-align: center;
}
.proven-results img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/3;
}
.proven-results button {
  background-color: #0ebbde;
  padding: 5px 14px;
  border: none;
}
.proven-results button a {
  text-decoration: none;
  font-family: semibold;
  color: white;
  text-transform: uppercase;
}

.contact {
  padding: 40px 0px;
  overflow: hidden;
  background: url(../Images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact h2 {
  font-size: 26px;
  font-family: medium;
  text-transform: uppercase;
}
.contact h6 {
  font-size: 18px;
  font-family: medium;
  text-transform: capitalize;
}
.contact p {
  font-size: 16px;
  font-family: light;
}
.contact input {
  padding: 8px;
}
.contact select {
  padding: 8px;
  border: 1px solid black;
  font-family: medium;
}
.contact button {
  background-color: #0ebbde;
  padding: 5px 10px;
  border: none;
  font-family: semibold;
  color: #fff;
}

footer {
  background-color: #0b133c;
  padding: 40px 0px;
}
footer h6 {
  color: #fff;
  font-family: EB;
  font-size: 18px;
}
footer li {
  list-style: none;
  color: #fff;
  font-family: Playfair;
}
footer li a {
  color: #fff;
  text-decoration: none;
}
footer h5 {
  font-size: 22px;
  font-family: light;
  color: #fff;
}
footer .icon {
  padding-right: 10px;
}
footer hr {
  color: #fff;
  border: 1px solid #fff;
}/*# sourceMappingURL=style.css.map */